.grid-content-container
  .row
    .col-lg-12
      %p.text-uppercase.content-text.content-text-sub.color-grid-text
        %span= @most_recent_update.platform.name
        %span.vertical-bar|
        %span= @most_recent_update.class.name
        %span.vertical-bar|
        %span= @most_recent_update.pretty_date
  .row
    .col-sm-4
      .grid-img
        = image_tag "clapper.svg", alt: "Director", class: "svg-img  hidden-sm-down"
    .col-sm-8
      =link_to platform_case_studies_path(@most_recent_update.platform.slug) do
        %h1.content-header.color-grid-text= @most_recent_update.title
