.col-md-7.offset-md-1.col-sm-12
  .platform-assets-container
    .section#platform-one-sheeter
      %h1.text-uppercase
        %i.fa.fa-bomb.fa-lg
        = @platform.slug
      %p#learn-more= platform_description.html_safe
      - if @platform.one_sheeters.present?
        = link_to "download one-sheeter", @platform.one_sheeters.last.file_url, class: "brand-btn-primary xaxis-btn-primary main-download-btn"
      - else
        %p Sorry, no one-sheeter available for download.
    %hr.platform-asset-hr
    .section#platform-videos.clearfix
      = render partial: "videos", locals: { platform: @platform }
    %hr.platform-asset-hr.reduce-hr-top
    .section#platform-case-study.clearfix
      = render partial: "case_studies", locals: { platform: @platform, casestudy: @case_studies }
    %hr.platform-asset-hr
    .section#platform-infographics.clearfix
      = render partial: "infographics", locals: { platform: @platform }
    %hr.platform-asset-hr.reduce-hr-top
    .section#platform-logo
      = render partial: "logos", locals: { platform: @platform }
