- title "101 Series"
.container
  %h1#one_oh_one_series 101 Series
  %p.one-oh-one-series-intro
    The “101 Series” is designed to educate individuals in our
    industry on the various aspects of programmatic buying. These presentations will
    breakdown these important and complicated subjects and allow people to gain a
    more in-depth understanding of the topics they talk about every day. This series
    will include presentations on Programmatic, Native Advertising, Performance
    Marketing and more.
  - if @one_oh_ones.nil?
    %p No one one series uploaded.
  - else
    .row.one-oh-one-series-row
      - @one_oh_ones.each do |one|
        .col-md-4.col-sm-6.boxer
          .single-101-container
            = image_tag one.image_preview.preview, alt: "#{one.name}", class: "img-fluid image-preview-101"
            %p.text-xs-center.buttons-101
              = link_to "View as PDF", one.pdf_file.url, target: "_blank", role: "button", class: "brand-btn-primary xaxis-btn-primary button-101"
              = link_to "Download PPT", one.ppt_file.url, download: one.name, role: "button", class: "brand-btn-primary xaxis-btn-primary button-101"
    = will_paginate @one_oh_ones, {next_label: '<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>', previous_label:'<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>'}
