- title "101 Series"
#one_oh_one_series
  .container
    %h1#one_oh_one_title 101 Series
    %p.one-oh-one-series-intro
      The “101 Series” is designed to educate individuals in our
      industry on the various aspects of programmatic buying. These presentations will
      breakdown these important and complicated subjects and allow people to gain a
      more in-depth understanding of the topics they talk about every day. This series
      will include presentations on Programmatic, Native Advertising, Performance
      Marketing and more.
.container
  - if @one_oh_ones.nil?
    %p No one one series uploaded.
  - else
    .row.one-oh-one-series-row
      - @one_oh_ones.each do |one|
        .col-lg-4.col-sm-6.boxer
          .single-101-container
            = link_to one.pdf_file.url, target: "_blank", role: "button" do
              = image_tag one.image_preview.preview, alt: "#{one.name}", class: "img-fluid image-preview-101"
            .text-xs-center.buttons-101
              .keep-centered
                = link_to one.pdf_file.url, target: "_blank", role: "button", class: "brand-btn-primary xaxis-btn-primary button-101" do
                  %i.fa.fa-external-link
                  PDF
                = link_to one.ppt_file.url, download: one.name, role: "button", class: "brand-btn-primary xaxis-btn-primary button-101" do
                  %i.fa.fa-download
                  PPT
    .testing-center
      = will_paginate @one_oh_ones, {next_label: '<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>', previous_label:'<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>'}
