- yield "Latest Updates"
.container#posts-index
  .row.container-row
    .col-sm-3.hidden-sm-down
      #side-nav
        %ul.nav#update_category_list
          %li.nav-item
            .text-uppercase Categories
          -@all_tags.each do |tag|
            %li.nav-item
              =link_to tag, tag_path(tag.downcase), class: "side-nav-link"
    .col-md-9.col-xs-12
      #news-container.section-container
        .row
          .section-name#news-section
            %h1.header.text-uppercase
              Latests
            = sortable "updated_at", "Sort"
        .row
          %ul.list-group.news-articles-list
            - @posts.includes(:tags).each do |post|
              %li.list-gropu-item.news-articles-list-item
                .row
                  .col-sm-2.news-article-date-container.hidden-xs-down
                    .news-article-date
                      .news-article-date_day
                        =post.day_only
                      .news-article-date_month_year.text-uppercase
                        =post.month_year_only
                  .col-sm-10
                    .news-article-content
                      %p.news-article-tags.text-uppercase
                        = raw post.get_tag_list.map { |tag| link_to tag, tag_path(tag.downcase) }.join(', ')
                        %span.hidden-sm-up
                          |
                          = post.pretty_date


                      %h1.news-article-title=link_to post.title, post_path(post)
                      %p.news-article-text= post.medium_teaser

          = will_paginate @posts, {next_label: '<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>', previous_label:'<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>'}
