.flex-container
  .flex-column
    .flex-sm-item.left-top#grid-box-1
      %h1.larger-content-header.color-grid-text Welcome to the Xaxis Marketing Hub
      %p Welcome to the Xaxis Marketing Hub. This internal site houses all your marketing needs such as brand assets and guidelines, up to date presentation templates, sales collateral and much more. Check back often for updates and new materials!
    .flex-lg-item.left-bottom#grid-box-4
      %p.text-uppercase.color-grid-category-text.color-grid-text
        %span turbine
        %span.vertical-bar|
        %span spotlight
        %span.vertical-bar|
        %span xanadu
      %h1.larger-content-header.color-grid-text Xaxis Platforms
      %dl.color-grid-text#quick-links
        %dd Quick Links:
        %dt
          Turbine Case Study
          %span New
        %dt Tubine Videos
      .large-grid-icon-container
        = image_tag "platforms_icon.png", alt: "Light Bulb", class: "grid-icon img-fluid hidden-sm-down"
      .link-container
        =link_to "enter", platform_path(@turbine), class: "text-uppercase btn color-grid-btn"
  .flex-column
    .flex-sm-item.center-top#grid-box-2
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span Utilities
              %span.vertical-bar|
              %span Value Calculator
        .row
          .col-sm-7
            %h1.content-header.color-grid-text 2016 Xaxis Media Buying Calculator
          .col-sm-5
            .grid-icon-container
              = image_tag "values_calc_icon.png", alt: "Box in Box", class: "grid-icon img-fluid hidden-sm-down"
      .link-container
        =link_to "enter", value_calculator_path, class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.center-middle#grid-box-5
      - if @view_this_box.nil? && @most_recent_update.nil?
        = render partial: "partials/middle_box/box_no_updates"
      - else
        = render partial: "partials/middle_box/#{@view_this_box}"
    .flex-sm-item.center-bottom#grid-box-6
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span Utilities
              %span.vertical-bar|
              %span 101 Series
        .row
          .col-sm-7
            %h1.content-header.color-grid-text 101 Series
          .col-sm-5
            .grid-icon-container
              = image_tag "101_icon.png", alt: "Beaker", class: "grid-icon img-fluid  hidden-sm-down"
      .link-container
        =link_to "enter", "https://xaxis.hs-sites.com/101-series", class: "text-uppercase btn color-grid-btn", target: "_blank"
  .flex-column
    .flex-lg-item.right-top#grid-box-3
      %p.text-uppercase.color-grid-category-text.color-grid-text
        %span Utilities
        %span.vertical-bar|
        %span Presentation Hub
      %p.color-grid-text The Xaxis Presentation Hub is home to all your presentation needs. This section includes up to date presentation tempaltes as well as capabiltiy decks for Xaxis, Light Reaction, plista, and Triad!
      .large-grid-icon-container
        = image_tag "pres_hub_icon.png", alt: "Updated Template", class: "grid-icon img-fluid hidden-sm-down"
      .link-container
        =link_to "enter", presentation_hub_path, class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.right-bottom#grid-box-7
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span platform
              %span.vertical-bar|
              %span Case Studies
        .row
          .col-sm-8
            %h1.content-header.color-grid-text Latest Case Studies
          .col-sm-4
            .grid-icon-container
              = image_tag "updates_icon.png", alt: "Pencil", class: "grid-icon img-fluid hidden-sm-down"
      .link-container
        =link_to "enter", case_studies_path, class: "text-uppercase btn color-grid-btn"
