.flex-container
  .flex-column
    .flex-sm-item.left-top#grid-box-1
      %p.text-uppercase.color-grid-category-text.color-grid-text
        %span oh, hi!
      %h1.lg-item-header.color-grid-text Welcome!
      %p.color-grid-text The new Xaxis Marketing Hub houses all your marketing needs - even when you're on the go. Here you can find brand assets and guidelines, up-to-date presentation templates, collateral and much more! Check back often to keep up with new materials.
    .flex-sm-item.left-bottom#grid-box-2{style: @latest_post.preview_image.file.nil? ? '' : "background: linear-gradient(to right, rgba(65, 67, 69, .5), rgba(35, 37, 38, .5)), url(#{@latest_post.preview_image.preview.url});"}
      .grid-content-container
        .row
          .col-sm-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span THE LATEST
        .row
          .col-sm-12
            %h1.sm-item-header.color-grid-text= sanitize @latest_post.title.truncate_words(7, separator: ' ')
            %p.color-grid-text.keep-pretty-text#latest_post_text= sanitize @latest_post.text.truncate_words(35), tags: %w(strong a), attributes: %w(href)
      .link-container
        =link_to "see more", post_path(@latest_post), class: "text-uppercase animation-btn-secondary color-grid-btn-white"
  .flex-column
    .flex-sm-item.center-top#grid-box-3
      .grid-content-container
        .row
          .col-sm-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span Update
        .row
          .col-sm-12
            %h1.sm-item-header.color-grid-text Project Request
            %p.color-grid-text Need a deck, landing page or some print work? Let us know here.
      .link-container
        =link_to "make it", "https://docs.google.com/forms/d/e/1FAIpQLSdsiWT4ReCtP7wHxFpP3ebJnCak_k8-HhdQCLRDsVptbvjThQ/viewform?c=0&w=1&usp=send_form", class: "text-uppercase animation-btn-secondary color-grid-btn-white"
    .flex-sm-item.center-bottom#grid-box-4
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span get smart
        .row
          .col-md-8
            %h1.lg-item-header.color-grid-text Learning
            %ul.learning-update_list
              - @last_expert.each do |expert|
                %li
                  =link_to expert.title.truncate_words(10), expert_interview_hub_url(anchor: expert.title.parameterize.truncate(20)), class: "learning-update_link wave"
                  - if expert.is_recent
                    %span.new-alert NEW
          .col-md-4
            .grid-icon-container.hidden-sm-down
              = image_tag "updates_icon_small.png", alt: "Updates", class: "grid-icon img-fluid"
  .flex-column
    .flex-lg-item.right-top#grid-box-5
      %p.text-uppercase.color-grid-category-text.color-grid-text
        %span Templates
      %h1.lg-item-header.color-grid-text The Presentation Hub
      %p.color-grid-text.new-alert-red 2017 Decks Available!
      %p.color-grid-text Download the latest sales decks and brand templates, as well as learn how to customize your presentations.
      .link-container
        =link_to "go", presentation_hub_path, class: "text-uppercase animation-btn-secondary color-grid-btn-dark"
      .large-grid-icon-container.hidden-md-down
        = image_tag "pres_hub_icon.png", alt: "Updated Template", class: "grid-icon img-fluid"
