.flex-container
  .flex-column
    .flex-sm-item.left-top
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span PLATFORM
              %span.vertical-bar|
              %span SPOTLIGHT
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-lg-8
            %h1.content-header.color-grid-text Spotlight: New Features and Tutorial
          .col-lg-4
            = image_tag "clapper.svg", alt: "Director", class: "svg-img"
      .link-container
        =link_to "all platform assets", root_path, class: "text-uppercase btn color-grid-btn"
    .flex-lg-item.left-bottom
      %h1 Cannes
      %p Lots of text
  .flex-column
    .flex-sm-item.center-top
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span PLATFORM
              %span.vertical-bar|
              %span SPOTLIGHT
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-lg-8
            %h1.content-header.color-grid-text Spotlight: New Features and Tutorial
          .col-lg-4
            = image_tag "clapper.svg", alt: "Director", class: "svg-img"
      .link-container
        =link_to "all platform assets", root_path, class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.center-middle
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span PLATFORM
              %span.vertical-bar|
              %span SPOTLIGHT
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-lg-8
            %h1.content-header.color-grid-text Spotlight: New Features and Tutorial
          .col-lg-4
            = image_tag "clapper.svg", alt: "Director", class: "svg-img"
      .link-container
        =link_to "all platform assets", root_path, class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.center-bottom
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span PLATFORM
              %span.vertical-bar|
              %span SPOTLIGHT
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-lg-8
            %h1.content-header.color-grid-text Spotlight: New Features and Tutorial
          .col-lg-4
            = image_tag "clapper.svg", alt: "Director", class: "svg-img"
      .link-container
        =link_to "all platform assets", root_path, class: "text-uppercase btn color-grid-btn"
  .flex-column
    .flex-lg-item.right-top
      %h1 Cannes
      %p Lots of text
    .flex-sm-item.right-bottom
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span PLATFORM
              %span.vertical-bar|
              %span SPOTLIGHT
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-lg-8
            %h1.content-header.color-grid-text Spotlight: New Features and Tutorial
          .col-lg-4
            = image_tag "clapper.svg", alt: "Director", class: "svg-img"
      .link-container
        =link_to "all platform assets", root_path, class: "text-uppercase btn color-grid-btn"











-# .row
-#   .col-lg-4
-#     .sm-rec
-#       = image_tag "https://unsplash.it/400/300/?random", class: "img-fluid"
-#     .lg-rec
-#       = image_tag "https://unsplash.it/400/600/?random", class: "img-fluid"
-#   .col-lg-4
-#     .sm-rec
-#       = image_tag "https://unsplash.it/400/300/?random", class: "img-fluid"
-#     .sm-rec
-#       = image_tag "https://unsplash.it/400/300/?random", class: "img-fluid"
-#     .sm-rec
-#       = image_tag "https://unsplash.it/400/300/?random", class: "img-fluid"
-#   .col-lg-4
-#     .lg-rec
-#       = image_tag "https://unsplash.it/400/600/?random", class: "img-fluid"
-#     .sm-rec
-#       = image_tag "https://unsplash.it/400/300/?random", class: "img-fluid"
