.flex-container
  .flex-column
    .flex-sm-item.left-top
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span platform
              %span.vertical-bar|
              %span spotlight
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-sm-8
            %h1.content-header.color-grid-text Spotlight: New Features and Tutorial
          .col-sm-4
            .grid-img
              = image_tag "clapper.svg", alt: "Director", class: "svg-img  hidden-sm-down"
      .link-container
        =link_to "all platform assets", root_path, class: "text-uppercase btn color-grid-btn"
    .flex-lg-item.left-bottom
      %p.text-uppercase.content-text.content-text-sub.color-grid-text
        %span events
        %span.vertical-bar|
        %span xaxis events
        %span.vertical-bar|
        %span 10/01/2016
      %h1.larger-content-header.color-grid-text Cannes: The In's and Out's of Programmatic
      = image_tag "bulb.svg", alt: "Light Bulb", class: "svg-img  hidden-sm-down"
  .flex-column
    .flex-sm-item.center-top
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span platform
              %span.vertical-bar|
              %span spotlight
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-sm-8
            %h1.content-header.color-grid-text Turbine: New Sell Sheet Updated
          .col-sm-4
            .grid-img
              = image_tag "boxy.svg", alt: "Box in Box", class: "svg-img  hidden-sm-down"
    .flex-sm-item.center-middle
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span platform
              %span.vertical-bar|
              %span spotlight
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-sm-8
            %h1.content-header.color-grid-text Spotlight: New Features and Tutorial
          .col-sm-4
            .grid-img
              = image_tag "pencil.svg", alt: "Pencil", class: "svg-img  hidden-sm-down"
      .link-container
        =link_to "all platform assets", root_path, class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.center-bottom
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span platform
              %span.vertical-bar|
              %span spotlight
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-sm-8
            %h1.content-header.color-grid-text Spotlight: New Features and Tutorial
          .col-sm-4
            .grid-img
              = image_tag "beaker.svg", alt: "Beaker", class: "svg-img  hidden-sm-down"
  .flex-column
    .flex-lg-item.right-top
      %p.text-uppercase.content-text.content-text-sub.color-grid-text
        %span brand assets
        %span.vertical-bar|
        %span light reaction
        %span.vertical-bar|
        %span 10/01/2016
      %h1.larger-content-header.color-grid-text Light Reaction Powerpoint Template Updated
      = image_tag "arrow.svg", alt: "Updated Template", class: "svg-img  hidden-sm-down"
      .link-container
        - if @bring_me_to_xaxis.present?
          =link_to "all brand assets", brand_path(@bring_me_to_xaxis), class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.right-bottom
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span news
              %span.vertical-bar|
              %span anncouncements
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-sm-8
            %h1.content-header.color-grid-text Xaxis Launched plista for Native Content
          .col-sm-4
            .grid-img
              = image_tag "touch_screen.svg", alt: "Touch Screen", class: "svg-img  hidden-sm-down"
