.flex-container
  .flex-column
    .flex-sm-item.left-top#grid-box-1
      = render partial: "partials/top_left/#{@view_this_box}"
    .flex-lg-item.left-bottom#grid-box-2
      %p.text-uppercase.content-text.content-text-sub.color-grid-text
        %span Utilities
        %span.vertical-bar|
        %span Calculator
        %span.vertical-bar|
        %span 11/14/2016
      %h1.larger-content-header.color-grid-text 2016 U.S. Programmatic Media Buying Calculator
      = image_tag "bulb.svg", alt: "Light Bulb", class: "svg-img  hidden-sm-down"
      .link-container
        =link_to "value calculator", value_calculator_path, class: "text-uppercase btn color-grid-btn"
  .flex-column
    .flex-sm-item.center-top#grid-box-3
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span Utilities
              %span.vertical-bar|
              %span Hub
              %span.vertical-bar|
              %span 11/14/2016
        .row
          .col-sm-8
            %h1.content-header.color-grid-text 2016 Presentation Hub
          .col-sm-4
            .grid-img
              = image_tag "boxy.svg", alt: "Box in Box", class: "svg-img  hidden-sm-down"
      .link-container
        =link_to "Presentation Hub", presentation_hub_path, class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.center-middle#grid-box-4
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span platform
              %span.vertical-bar|
              %span Turbine
              %span.vertical-bar|
              %span 11/14/2017
        .row
          .col-sm-8
            %h1.content-header.color-grid-text Turbine: Latest Infographics and Case Studies
          .col-sm-4
            .grid-img
              = image_tag "pencil.svg", alt: "Pencil", class: "svg-img  hidden-sm-down"
      .link-container
        =link_to "turbine assets", platform_path(@turbine), class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.center-bottom#grid-box-5
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span platforms
              %span.vertical-bar|
              %span all
              %span.vertical-bar|
              %span 10/01/2016
        .row
          .col-sm-8
            %h1.content-header.color-grid-text Need a case study, a logo or an infographic?
          .col-sm-4
            .grid-img
              = image_tag "beaker.svg", alt: "Beaker", class: "svg-img  hidden-sm-down"
      .link-container
        =link_to "Platfrom Assets", platform_path(@turbine), class: "text-uppercase btn color-grid-btn"
  .flex-column
    .flex-lg-item.right-top#grid-box-6
      %p.text-uppercase.content-text.content-text-sub.color-grid-text
        %span Utilities
        %span.vertical-bar|
        %span 101
        %span.vertical-bar|
        %span 10/01/2016
      %h1.larger-content-header.color-grid-text Programmatic 101 Series
      = image_tag "arrow.svg", alt: "Updated Template", class: "svg-img  hidden-sm-down"
      .link-container
        =link_to "101 Series", "https://xaxis.hs-sites.com/101-series", target: "_blank", class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.right-bottom#grid-box-7
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.content-text.content-text-sub.color-grid-text
              %span Latest Xaxis News
        .row
          .col-sm-8
            %h1.content-header.color-grid-text Get all of your Xaxis.com news here.
          .col-sm-4
            .grid-img
              = image_tag "touch_screen.svg", alt: "Touch Screen", class: "svg-img  hidden-sm-down"
      .link-container
        =link_to "Latest Xaxis News", "https://www.xaxis.com/news", target: "_blank", class: "text-uppercase btn color-grid-btn"
