.flex-container
  .flex-column
    .flex-sm-item.left-top#grid-box-1
      %h1.lg-item-header.color-grid-text Welcome to the Xaxis Marketing Hub
      %p Welcome to the Xaxis Marketing Hub. This internal site houses all your marketing needs such as brand assets and guidelines, up to date presentation templates, sales collateral and much more. Check back often for updates and new materials!
    .flex-lg-item.left-bottom#grid-box-4
      %p.text-uppercase.color-grid-category-text.color-grid-text
        %span turbine
        %span.vertical-bar|
        %span spotlight
        %span.vertical-bar|
        %span xanadu
      %h1.lg-item-header.color-grid-text Xaxis Platforms
      %dl.color-grid-text#quick-links
        %dd
          Quick Links:
          %dt On Hold
          %dt Until
          %dt We know what we are doing
        -# - @four_most_recent_updates.each do |q|
        -#   - classname = q.class.name
        -#   - case classname
        -#   - when 'CaseStudy'
        -#     =link_to platform_case_studies_path(q.platform.slug) do
        -#       %dt
        -#         = q.platform.name
        -#         = q.class.name
        -#   - when 'OneSheeter', 'Infographic', 'Video'
        -#     =link_to platform_path(q.platform.slug, anchor: "platform_#{q.class.name.downcase}") do
        -#       %dt
        -#         = q.platform.name
        -#         = q.class.name
        -#   - else
        -#     %dt
      .large-grid-icon-container.hidden-sm-down
        = image_tag "platforms_icon.png", alt: "Platform Icon", class: "grid-icon img-fluid"
      .link-container
        =link_to "enter", "###", class: "text-uppercase btn color-grid-btn"
  .flex-column
    .flex-sm-item.center-top#grid-box-2
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span Utilities
              %span.vertical-bar|
              %span Value Calculator
        .row
          .col-sm-7
            %h1.sm-item-header.color-grid-text 2016 Xaxis Media Buying Calculator
          .col-sm-5
            .grid-icon-container.hidden-sm-down
              = image_tag "values_calc_icon.png", alt: "Box in Box", class: "grid-icon img-fluid"
      .link-container.link-container-left
        =link_to "enter", value_calculator_path, class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.center-middle#grid-box-5
      - if @view_this_box.nil? && @most_recent_update.nil?
        = render partial: "partials/middle_box/box_no_updates"
        -# The below is for the platforms. Won't be used for now.
      - else
        = render partial: "partials/middle_box/#{@view_this_box}"
    .flex-sm-item.center-bottom#grid-box-6
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span Utilities
              %span.vertical-bar|
              %span 101 Series
        .row
          .col-sm-7
            %h1.sm-item-header.color-grid-text 101 Series
          .col-sm-5
            .grid-icon-container.hidden-sm-down
              = image_tag "101_icon.png", alt: "Beaker", class: "grid-icon img-fluid "
      .link-container.link-container-left
        =link_to "enter", "https://xaxis.hs-sites.com/101-series", class: "text-uppercase btn color-grid-btn", target: "_blank"
  .flex-column
    .flex-lg-item.right-top#grid-box-3
      %p.text-uppercase.color-grid-category-text.color-grid-text
        %span Brand Assets
        %span.vertical-bar|
        %span Templates
      %h1.lg-item-header.color-grid-text The Presentation Hub
      %p.color-grid-text Download brand templates for powerpoint, word and more.
      .large-grid-icon-container.hidden-sm-down
        = image_tag "pres_hub_icon.png", alt: "Updated Template", class: "grid-icon img-fluid"
      .link-container
        =link_to "enter", presentation_hub_path, class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.right-bottom#grid-box-7
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span latest update
        .row
          .col-sm-8
            =link_to post_path(@latest_post) do
              %h1.sm-item-header.color-grid-text= @latest_post.title.truncate_words(10)
              %p.color-grid-text= @latest_post.text.truncate_words(10)
          .col-sm-4
            .grid-icon-container.hidden-sm-down
              = image_tag "updates_icon.png", alt: "Updates", class: "grid-icon img-fluid"
