.flex-container
  .flex-column
    .flex-sm-item.left-top#grid-box-1
      %p.text-uppercase.color-grid-category-text.color-grid-text
        %span oh, hi!
      %h1.lg-item-header.color-grid-text Welcome!
      %p.color-grid-text Welcome to the Xaxis Marketing Hub. This internal site houses all your marketing needs such as brand assets and guidelines, up to date presentation templates, sales collateral and much more. Check back often for updates and new materials!
    .flex-sm-item.left-bottom#grid-box-2{style: "background-image: url(#{ @latest_post.image.file.nil? ? '' : @latest_post.image.preview.url});"}
      .grid-content-container
        .row
          .col-sm-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span updates
        .row
          .col-sm-12
            %h1.sm-item-header.color-grid-text= @latest_post.title.truncate_words(7, separator: ' ')
            %p.color-grid-text.keep-pretty-text#latest_post_text= @latest_post.text.truncate_words(35)
      .link-container
        =link_to "see more", post_path(@latest_post), class: "text-uppercase btn color-grid-btn"
  .flex-column
    .flex-sm-item.center-top#grid-box-3
      .grid-content-container
        .row
          .col-sm-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span Utilities
        .row
          .col-sm-12
            %h1.sm-item-header.color-grid-text Xaxis Value Calculator
            %p.color-grid-text The 2016 Xaxis Programmatic Media Value Calculator is designed to help you calculate Xaxis’ tangible values to your customers.
      .link-container
        =link_to "try it", value_calculator_path, class: "text-uppercase btn color-grid-btn"
    .flex-sm-item.center-bottom#grid-box-4
      .grid-content-container
        .row
          .col-lg-12
            %p.text-uppercase.color-grid-category-text.color-grid-text
              %span get smart
        .row
          .col-md-8
            %h1.lg-item-header.color-grid-text Learning
            %dl
              %dd
                - @last_two_101.each do |series|
                  %dt
                    = series.name.truncate_words(5)
                    - if series.is_recent
                      %span.new_alert NEW
                %dt= @last_expert.title.truncate_words(10)
            .link-container
              =link_to "learn", expert_interview_hub_path, class: "text-uppercase btn color-grid-btn"
          .col-md-4
            .grid-icon-container.hidden-sm-down
              = image_tag "updates_icon.png", alt: "Updates", class: "grid-icon img-fluid"
  .flex-column
    .flex-lg-item.right-top#grid-box-5
      %p.text-uppercase.color-grid-category-text.color-grid-text
        %span Templates
      %h1.lg-item-header.color-grid-text The Presentation Hub
      %p.color-grid-text Download the latest sales decks and brand templates, as well as learn how to customize your presentations.
      .link-container
        =link_to "go", presentation_hub_path, class: "text-uppercase btn color-grid-btn"
      .large-grid-icon-container.hidden-md-down
        = image_tag "pres_hub_icon.png", alt: "Updated Template", class: "grid-icon img-fluid"
