#news-container.section-container
  .section-name#news-section
    %h1.header.text-uppercase Latest Updates
  .content-container#latest-news
    .row
      .col-md-6.col-sm-12.hidden-xs-down#preview-container
        #currently_selected_event_container
          .icon-info.row
            .col-md-12
              .circle70
                .circle_text MKT
              .content-text.content-text-sub.text-uppercase
                .content-text-sub_inner_text
                  %span#single-news_tag_list.tag_list= @initial_post.get_tag_list.to_sentence
                  |
                  %span#single-news_date.date= @initial_post.pretty_date
          .selected-news_content
            =link_to post_path(@initial_post), id: "single-news_title_link" do
              %h1.content-header#single-news_title.news-title= sanitize @initial_post.title.truncate_words(10)
            %img#single-news_image{src: @initial_post.image.url, class: 'img-fluid'}
            %p.content-text.news-text
              %span#single-news_text
                = sanitize @initial_post.medium_teaser, tags: %w(strong a), attributes: %w(href)
            = link_to post_path(@initial_post), id: 'single-news_readmore', class: "single-news_button" do
              read more
              %i.fa.fa-angle-right.fa-lg
      .col-md-5.offset-md-1.col-sm-12
        .recent_news_container
          - @posts.each_with_index do |post, index|
            .single-news-container{"data-postId" => post.id, class: ('active' if index == 0) }
              .single-news-text
                %h1.content-header= sanitize post.title.truncate_words(10)
                %p.content-text= sanitize post.short_teaser, tags: %w(strong a), attributes: %w(href)
                %p.readmore.hidden-sm-up
                  = link_to post_path(post), class: "readmore-link single-news_button" do
                    read more
                    %i.fa.fa-angle-right.fa-lg
        .more-updates.text-xs-right
          = link_to posts_path, class: "single-news_button" do
            more updates
            %i.fa.fa-angle-right.fa-lg{'aria-hidden' => "true"}
