#announcements-container.section-container
  .section-name#announcements-section
    %h1.header.text-uppercase Announcements
  - @announcement_posts.each do |announcement|
    .single-announcement-container
      .row
        .col-md-2
          .big_date
            %h1= announcement.day_only
            %p.text-uppercase= announcement.month_year_only
        .col-md-10
          %p.text-uppercase.content-text.content-text-sub
            %span= announcement.tag_list
            %span.vertical-bar|
            %span= announcement.pretty_date
          %h1.content-header= announcement.title
          %p.content-text= announcement.text
  = link_to tag_path(:announcement), class: "text-uppercase content-text-sub pull-right" do
    More Announcements
    %i.fa.fa-angle-right.fa-lg
