#talents-container.section-container
  .section-name#talents-section
    %h1.header.text-uppercase Talent & Culture
  .owl-carousel.owl-theme
    - @talent_posts.each do |talent|
      .item
        %p.text-uppercase.content-text.content-text-sub
          %span= talent.get_tag_list
          %span.vertical-bar|
          %span= talent.pretty_date
        %h1.larger-content-header= talent.title
        %p.content-text= talent.text
        =link_to "More", post_path(talent)
  = link_to tag_path("Talent & Culture"), class: "text-uppercase content-text-sub pull-right" do
    More Talent & Cutlure
    %i.fa.fa-angle-right.fa-lg
