#talents-container.section-container
  .section-name#talents-section
    %h1.header.text-uppercase Talent & Culture
  .row
  - @talent_posts.each do |talent|
    .col-md-4
      .single-talent-container
        %p.text-uppercase.content-text.content-text-sub
          %span= talent.tag_list
          %span.vertical-bar|
          %span= talent.pretty_date
        %h1.larger-content-header= talent.title
        %p.content-text= talent.text
  = link_to tag_path("Talent & Culture"), class: "text-uppercase content-text-sub pull-right" do
    More Talent & Cutlure
    %i.fa.fa-angle-right.fa-lg


/* Rectangle 5: */
border: 2px solid rgba(255,255,255,0.70);
border-radius: 100px;
/* ALL PLATFORM ASSETS: */
font-family: Gotham-Medium;
font-size: 10px;
color: #FFFFFF;
letter-spacing: 0px;
