- title "Presentation Hub"
#presentation_hub
  %section.top-section
    .container
      %h1 Global Presentation Resource Center
      .row
        - @brands_hub.each do |brand|
          .col-lg-3.col-md-6
            .card{:class => "#{brand.slug}-card"}
              %h2{:class => ("text-uppercase" unless brand.slug === "plista")  }= brand.name
              %p Templates
              - if brand.brand_accessories.has_category("ppt_template").present?
                =link_to "powerpoint", brand.brand_accessories.has_category("ppt_template").last.file_url, class: "card-btn brand-btn-primary #{brand.slug}-btn-primary"
              -else
                %p.card-btn.brand-btn-primary{:class => "#{brand.slug}-btn-primary"} Not available
              - if brand.brand_accessories.has_category("word_template").present?
                =link_to "word doc", brand.brand_accessories.has_category("word_template").last.file_url, class: "card-btn brand-btn-primary #{brand.slug}-btn-primary"
              -else
                %p.card-btn.brand-btn-primary{:class => "#{brand.slug}-btn-primary"} Not available
              .hr-faker
              %p{class: "#{brand.slug}-card-lower-text"}
                Global Capabilities Deck
              - if brand.brand_accessories.has_category("capability").present?
                -if brand.slug == "plista"
                  - brand.brand_accessories.has_category("capability").each do |plista|
                    =link_to plista.name.truncate(11), plista.file_url, class: "card-btn brand-btn-primary #{brand.slug}-btn-primary restrict-plista"
                -else
                  =link_to "download", brand.brand_accessories.has_category("capability").last.file_url, class: "card-btn brand-btn-primary #{brand.slug}-btn-primary"
              -else
                %p.card-btn.brand-btn-primary{:class => "#{brand.slug}-btn-primary"} Not available
  %section.middle-section
    .container
      .row
        .card-deck
          .card
            = image_tag "image-bank.svg", alt: "Image Bank", class: "img-fluid card-img-top"
            .card-block
              %h2.card-title.text-uppercase image bank
              %p.card-text
                Download and view the entire image bank, or access them on
                =link_to "https://inside.xaxis.com/GMarketing/Xaxis%20Image%20Bank/Forms/AllItems.aspx", class: "card-text", target: "_blank" do
                  Xperience.
              - if @image_bank.present? && !@image_bank.nil? && @image_bank.remote_download?
                %p.subtitle.card-text
                  Can't access Box?
                  =link_to @image_bank.remote_download do
                    Then you can download the file here.
            .card-footer
              =link_to "view bank", "https://xaxismarketing.app.box.com/s/xd6426vxup4szd6gidw3y2ib1dpqtzc3", target: "_blank", class: "card-btn brand-btn-secondary xaxis-btn-secondary middle-section-button"
          .card
            = image_tag "graph-grey.svg", alt: "Reduce File Size", class: "img-fluid card-img-top"
            .card-block
              %h2.card-title.text-uppercase Tutorial
              %p.card-text File size is too big? Learn how to reduce file size by compressing the images.
            .card-footer
              =link_to "watch", "https://vimeo.com/xaxis/review/172765382/5e868fcd40", target: "_blank", class: "card-btn brand-btn-secondary xaxis-btn-secondary middle-section-button"
          .card
            = image_tag "pencil-stencil.svg", alt: "Custom Images", class: "img-fluid card-img-top"
            .card-block
              %h2.card-title.text-uppercase Custom
              %p.card-text Need something else? You can make a request for the images you may need to Xaxis Global Marketing Team below.
            .card-footer
              =link_to "email us", "https://goo.gl/forms/1OiT5qUAX3phIZmu2", target: "_blank", class: "card-btn brand-btn-secondary xaxis-btn-secondary middle-section-button"
  %section.bottom-section
    %h2 Need additional brand assets?
    =link_to "See All Brand Assets", brand_path(@brands.find_by_name("Xaxis")), class: "text-uppercase brand-btn-secondary xaxis-btn-secondary"
