- title "Presentation Hub"
#presentation_hub
  %section.top-section
    .container
      %h1 Global Presentation Resource Center
      .row
        - @brands.each do |brand|
          .col-lg-3.col-md-6
            .card{:class => "#{brand.slug}-card"}
              %h2{:class => ("text-uppercase" unless brand.slug === "plista")  }= brand.name
              %p Templates
              - if brand.brand_accessories.has_category("ppt_template").present?
                =link_to "powerpoint", brand.brand_accessories.has_category("ppt_template").last.file_url, class: "card-btn brand-btn-primary #{brand.slug}-btn-primary"
              -else
                %p.card-btn.brand-btn-primary{:class => "#{brand.slug}-btn-primary"} Not available
              - if brand.brand_accessories.has_category("word_template").present?
                =link_to "word doc", brand.brand_accessories.has_category("word_template").last.file_url, class: "card-btn brand-btn-primary #{brand.slug}-btn-primary"
              -else
                %p.card-btn.brand-btn-primary{:class => "#{brand.slug}-btn-primary"} Not available
              .hr-faker
              %p{class: "#{brand.slug}-card-lower-text"}
                2016 #{brand.name} Global Capabilities Deck
              - if brand.brand_accessories.has_category("capability").present?
                -if brand.slug == "plista"
                  - brand.brand_accessories.has_category("capability").each do |plista|
                    =link_to plista.name.truncate(15), plista.file_url, class: "card-btn brand-btn-primary #{brand.slug}-btn-primary restrict-plista"
                -else
                  =link_to "download", brand.brand_accessories.has_category("capability").last.file_url, class: "card-btn brand-btn-primary #{brand.slug}-btn-primary"
              -else
                %p.card-btn.brand-btn-primary{:class => "#{brand.slug}-btn-primary"} Not available
  %section.middle-section
    .container
      .row
        .col-sm-4
          .more-resources.image-bank
            = image_tag "image-bank.svg", alt: "Image Bank", class: "img-fluid"
            %h2.text-uppercase image bank
            %p Download the entire image bank onto your computer here, or access them on Xperience
            %p.subtitle Note: this is a large file, please do not download on mobile
            - unless @global_accessory.nil?
              =link_to "download", @global_accessory.file_url, class: "card-btn brand-btn-secondary xaxis-btn-secondary"
        .col-sm-4
          .more-resources.tutorial
            = image_tag "graph-grey.svg", alt: "Reduce File Size", class: "img-fluid"
            %h2.text-uppercase tutorial
            %p File size is too big? Learn how to reduce file size by compressing the images.
            =link_to "watch", "https://vimeo.com/xaxis/review/172765382/5e868fcd40", target: "_blank", class: "card-btn brand-btn-secondary xaxis-btn-secondary"
        .col-sm-4
          .more-resources.custom
            = image_tag "pencil-stencil.svg", alt: "Custom Images", class: "img-fluid"
            %h2.text-uppercase custom
            %p Need something else? You can make a request for the images you may need to Xaxis Global Marketing Team below.
            =link_to "email us", "https://goo.gl/forms/1OiT5qUAX3phIZmu2", target: "_blank", class: "card-btn brand-btn-secondary xaxis-btn-secondary"
  %section.bottom-section
    %h2 Need additional brand assets?
    =link_to "See All Brand Assets", brand_path(@xaxis), class: "text-uppercase brand-btn-secondary xaxis-btn-secondary"
