.update-form
  %h1 New Update
  = form_for @update do |f|
    #errors
      = render partial: 'updates/errors', locals: {update: @update}
    .form-group
      = f.label :title
      = f.text_field :title
    .form-group
      = f.label :text
      = f.text_area :text
    .form-group
      = f.submit :"Post Update", class: 'btn btn-primary'
