.container.case-studies
  .row
    .sub-nav-section
      .col-md-2.hidden-sm-down
      .col-md-10.col-sm-12
        =render 'filter_form'
    .col-md-2.hidden-sm-down
      =render 'side_nav'
    .col-md-10.col-sm-12
      .section-container
        -if @platform
          .section-name
            %h1.header.text-uppercase Case Studies
          .section-body.case_study_section_body
            = render 'case_studies_list'
            = will_paginate @case_studies, {next_label: '<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>', previous_label:'<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>'}
        -elsif action_name == 'search'
          .section-name
            %h1.header.text-uppercase  Search Results
          .section-body.case_study_section_body
            = render 'case_studies_list'
            = will_paginate @case_studies, {next_label: '<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>', previous_label:'<i class="fa fa-chevron-circle-left" aria-hidden="true"></i>'}
        -else
          - Platform.all.each do |platform|
            .section-name{id: "#{platform.name}-case_studies"}
              %h1.header.text-uppercase= platform.name
            .section-body.case_study_section_body
              =render 'case_studies_list'
              = link_to "More #{platform.name} case studies", platform_case_studies_path(platform), class: 'text-uppercase'
