#main-page
  %img.img-fluid(src= "http://placehold.it/1920x600")
  .container#main-content
    .row
      .col-md-9
        = render partial: "partials/recent_news"
      .col-md-3
        = render partial: "partials/recent_events"
    .row
      .col-md-9
        = render partial: "partials/recent_announcements"
      .col-md-3
        = render partial: "partials/categories"
    .row
      .col-lg-12
        = render partial: "partials/recent_talents"
    = link_to "See All Updates", posts_path
