- title @post.title
.post-container
  .container
    .row
      .col-sm-9.col-xs-12
        .news-article
          %span.tag_list.text-uppercase= @post.get_tag_list.to_sentence
          %span.tag_list|
          %span.tag_list= @post.pretty_date
          %h1.article-title= @post.title
          %h6.news-contributor
            Contributor: Xaxis Marketing
          %p.news-text= sanitize @post.text, tags: %w(a strong p br ul li), attributes: %w(href)
          .news-image
            =image_tag(@post.image.url(:preview), class: "img-fluid") if !@post.image.file.nil?
        = link_to :back, class: "animation-btn-secondary xaxis-btn-secondary btn-back" do
          %i.fa.fa-arrow-left
          Back
      .col-sm-3.hidden-xs-down
        .news-sidebar
          .categories-sidebar-box
            .sidebar-header.categories-header-box
              .categories-header.sidebar-header-title
                Categories
            %ul.sidebar-list.category-list
              -@all_tags.each do |tag|
                %li.sidebar-list-item.category-list-item=link_to tag, tag_path(tag.downcase)
