- title @post.title
.post-container
  .container
    .row
      .col-sm-9.col-xs-12
        .news-article
          %span.tag_list.text-uppercase= @post.get_tag_list.to_sentence
          %span.tag_list|
          %span.tag_list= @post.pretty_date
          %h1.article-title= @post.title
          .social-share-buttons
            =link_to(post_path(@post), class: "share-btn-link", id: "FBshareBtn", onclick: "window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('#{post_url(@post)}'),'facebook-share-dialog','width=626,height=436'); return false;") do
              =image_tag "facebook.svg", class: "share-btn share-btn-facebook"
            =link_to(post_path(@post),  class: "share-btn-link", id: "TWshareBtn", onclick: "javascript:window.open('https://twitter.com/share?text=#{@post.long_teaser}&amp;url=#{post_path(@post)}','Twitter-dialog','width=626,height=436'); return false;") do
              =image_tag "twitter.svg", class: "share-btn"
          %h6.news-contributor
            Contributor: Xaxis Marketing
          %p.news-text= @post.text.html_safe
          .news-image
            =image_tag(@post.image.url(:preview), class: "img-fluid") if !@post.image.file.nil?
        = link_to :back, class: "btn-back" do
          %i.fa.fa-arrow-left
          Back
      .col-sm-3.hidden-xs-down
        .news-sidebar
          .categories-sidebar-box
            .sidebar-header.categories-header-box
              .categories-header.sidebar-header-title
                Categories
            %ul.sidebar-list.category-list
              -@all_tags.each do |tag|
                %li.sidebar-list-item.category-list-item=link_to tag, tag_path(tag.downcase)
