.col-md-8.offset-md-1.col-sm-12
  .brand-assets-container{data: {page: "onexaxis"}}
    .section#assets-welcome
      = image_tag "brand-logos/#{brand.slug}_logo_h.png", class: "img-fluid brand-assets-top-logo"
      = content[:welcome].html_safe
      = link_to "download template", brand.brand_accessories.has_category("ppt_template").last.file_url, class: "brand-btn-primary xaxis-btn-primary" if brand.brand_accessories.has_category("ppt_template").any?
    %hr
    .section#assets-facts
      %h3.text-uppercase #{brand.name} Fast Facts
      -# Render each brand's boiler plate.
      %nav.nav#facts-nav
        - @brands.each do |brand|
          - if brand.name != "One Xaxis"
            = link_to brand.name, fetch_facts_path(brand_id: brand.id), remote: true, class: "facts-link"
      #assets-boilerplate
        #selected-boilerplate
          =render partial: "facts", locals: {selected: @selected, other_content: @other_content}
        = link_to "download fast facts", brand.brand_accessories.has_category("facts").last.file_url, class: "brand-btn-primary xaxis-btn-primary" if brand.brand_accessories.has_category("facts").any?
    %hr
    .section#assets-logo
      %h3.text-uppercase #{brand.name} Logos
      = content[:logo].html_safe
      .row
        .col-md-4
          %p.p-medium Main One Xaxis Logo:
        .col-md-8
          = image_tag "brand-logos/#{brand.slug}_logo.png", class: "img-fluid brand-logo-v d-block"
      .row.mt-5
        .col-md-4
          %p.p-medium Horizontal One Xaxis Logo:
        .col-md-8
          = image_tag "brand-logos/#{brand.slug}_logo_h", class: "img-fluid brand-logo-h d-block"
      = link_to "download logos", brand.brand_accessories.has_category("logo").last.file_url, class: "brand-btn-primary xaxis-btn-primary" if brand.brand_accessories.has_category("logo").any?
    %hr
    .section#assets-video
      %h3.text-uppercase #{brand.name} Lobby Video
      %iframe{src: "https://player.vimeo.com/video/110935367"}
      = link_to "download videos", brand.brand_accessories.has_category("video").last.file_url, class: "brand-btn-primary xaxis-btn-primary" if brand.brand_accessories.has_category("video").any?
    %hr
    .section#assets-header
      %h3.text-uppercase Newsletter headers
      %p
        If your department needs customzied newsletter headers, please put in a
        %a{href: "https://goo.gl/forms/OwhsgR0vKni8gdgx1", target: "_blank"}
          creative request.
      = image_tag "one-xaxis_header.png", class: "img-fluid d-block"
      = link_to "download headers", brand.brand_accessories.has_category("header").last.file_url, class: "brand-btn-primary xaxis-btn-primary" if brand.brand_accessories.has_category("header").any?
    %hr
    .section#assets-rollup
      %h3.text-uppercase Rollup Banner
      %p Please customize the banner into the specs you were given by your vendor if needed.
      = image_tag "rollup.png", class: "img-fluid d-block"
      = link_to "download rollups", brand.brand_accessories.has_category("rollup").last.file_url, class: "brand-btn-primary xaxis-btn-primary" if brand.brand_accessories.has_category("rollup").any?
    %hr
    .section#assets-sticker
      %h3.text-uppercase Stickers
      %p The stickers come in 2 colors — light and dark. Please contact your local vendor for specs.
      .row
        .col-sm-6
          = image_tag "sticker_d.png", class: "img-fluid"
        .col-sm-6
          = image_tag "sticker_l.png", class: "img-fluid"
      = link_to "download stickers", brand.brand_accessories.has_category("sticker").last.file_url, class: "brand-btn-primary xaxis-btn-primary" if brand.brand_accessories.has_category("sticker").any?
.col-md-1.col-sm-12.btt-container
  =link_to '#top-brands', id: "btw-arrow-link" do
    =image_tag "btt.svg", class: "btt-arrow"
