.container-fluid.footer-container
  %footer
    .container
      .row.footer-nav
        .col-xs-12
          .row.footer-nav-row
            .col-md-3.col-sm-3.col-xs-6.footer-column
              =link_to 'Home', root_path, class: 'footer-main-link'
              %ul.footer-list
                %li= link_to 'Xaxis.com', "https://xaxis.com", target: "_blank"
                %li= link_to 'The Latest', posts_path
                %li= link_to 'Project Request', "https://goo.gl/forms/OwhsgR0vKni8gdgx1", target: "_blank"
                %li= link_to 'Feedback', new_contact_path
            .col-md-3.col-sm-3.col-xs-6.footer-column
              =link_to 'Brand Assets', brand_path(@xaxis), class: 'footer-main-link'
              %ul.footer-list
                - Brand.all.each do |brand|
                  %li= link_to "#{brand.name} Brand Assets", brand_path(brand)
            .col-md-3.col-sm-3.col-xs-6.footer-column
              %p.footer-main-link Learning
              %ul.footer-list
                %li= link_to 'Expert Interviews Hub', expert_interview_hub_url
                %li= link_to '101 Series', one_oh_one_series_url
                %li= link_to "Admin Panel", admin_dashboard_path if current_admin_user
            .col-md-3.col-sm-3.col-xs-6.footer-column
              %p.footer-main-link Landing Pages
              %ul.footer-list
                %li= link_to 'Value Calculator', value_calculator_url
                %li= link_to 'Presentation Hub', presentation_hub_path
                %li= link_to "Turbine Showcase", "http://xaxis.hs-sites.com/turbine-video-showcase"
                %li= link_to "Google Partnership", "http://xaxis.hs-sites.com/xaxis-google-partnership"
                %li= link_to "Triad Announcement", "http://xaxis.hs-sites.com/triad"
                %Li= link_to 'SMART kapp', smart_kapp_path 
    .container
      .row.footer-bottom
        .col-xs-12.text-xs-center
          CONFIDENTIAL AND PROPRIETARY
          %br/
          ©
          = current_year
          XAXIS, INC. ALL RIGHTS RESERVED.
          %br/
          Distribution without permission is prohibited.
