.container-fluid.footer-container
  %footer
    .container
      .row.footer-nav
        .col-sm-8.offset-sm-2
          .row.footer-nav-row
            .col-md-4.col-xs-6.footer-column
              =link_to 'Home', "#", class: 'footer-main-link'
              %ul.footer-list
                %li= link_to 'Xaxis Internal', "#"
                %li= link_to 'xaxis.com', "#"
                %li= link_to 'News/Updates', "#"
            .col-md-4.col-xs-6.footer-column
              =link_to 'Brand Assets', "#", class: 'footer-main-link'
              %ul.footer-list
                - Platform.all.each do |platform|
                  %li= link_to "#{platform.name} Brand Assets", "#"
            .col-md-4.col-xs-6.footer-column
              =link_to 'Products & Tutorials', "#", class: 'footer-main-link'
              %ul.footer-list
                %li= link_to 'Turbine', "#"
                %li= link_to 'Spotlight', "#"
                %li= link_to '101 Series', "#"
                %li= link_to 'All Case Studies', "#"
                %li= link_to 'All Sell Sheets', "#"
            .col-md-4.col-xs-6.footer-column
              =link_to 'Utilities', "#", class: 'footer-main-link'
              %ul.footer-list
                %li= link_to 'Calculator', "#"
            .col-md-4.col-xs-6.footer-column
              =link_to 'Presentation Hub', "#", class: 'footer-main-link'
    .container
      .row.footer-bottom
        .col-xs-12.text-xs-center
          © 2016 XAXIS, INC. ALL RIGHTS RESERVED.
      = link_to "Admin Panel", admin_dashboard_path if current_admin_user
