!!!
%html
  = render partial: "html_header"
  %body{class: "#{controller_name} #{action_name}"}
    = render partial: "nav"
    .container
      = flash_messages
    = yield
    = render partial: "footer"
    = Gon::Base.render_data({})
    -if @javascript_file_overwrite_name
      = javascript_include_tag @javascript_file_overwrite_name
    -else
      = javascript_include_tag 'application'
