!!!
%html
  = render partial: "html_header"
  %body{class: "#{controller_name} #{action_name}"}
    = render partial: "nav"
    = yield
    = render partial: "footer"
    = Gon::Base.render_data({})
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
